<div class="maincontent">
  <article class="article">

    <h1 class="article-title"> <small> Who are we? </small> </h1>
      <p><small> This is my filler text. </small></p>
      <p><small> This is my filler text. </small></p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Get Busy!</h1>
    <p><small> This is my filler text. </small></p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Who should come?</h1>
    <ul>
      <li><small> Anybody interested in art and the creative industry </small> </li>
      <li><small> Painters, sculptors, photographers and graphic artists </small> </li>
      <li><small> Those interested in meeting and making a connection with others in the local art scene. </small> </li>
    </ul>
  </article><!-- article -->
</div>
