<div class="maincontent">
  <article class="article">

    <h1 class="article-title"> <small> Who am I? </small> </h1>
      <p><small> A college student looking to share my favorite places. </small></p>
      <p><small> Just a guy practicing some web programming. </small></p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title"> <small> I need help! </small> </h1>
    <p><small> Why is this Google Map API not cooperating? </small></p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title"><small> Who should contact me? </small> </h1>
    <ul>
      <li><small> Anybody who wants to bring me food </small> </li>
      <li><small> Anybody who wants to help me with this assignment </small> </li>
      <li><small> Anyone who falls into both categories above </small> </li>
    </ul>
  </article><!-- article -->
</div>
