<article class="sidebar">
  <h4 class="sidebar-title"><small> Who should visit my site? </small></h1>
  <ul class="sidebar-body">
    <li><small>Anybody interested in travel</small></li>
    <li><small>Sports fanatics</small></li>
    <li><small>Anyone interested in seeing the world</small></li>
    <li><small>People who are generally bored</small></li>
    <li><small>People who fall into the categories in the "who should contact me list"</small></li>
  </ul>
</article><!-- article -->
