<header>
  <div class="jumbotron d-none d-lg-block">
  </div><!-- jumbotron -->

  <nav class="navbar navbar-expand-lg navbar-dark">
    <!-- Brand -->
    <div class="navbar navbar-expand-lg">
      <a href="/" class="navbar-brand"><small> My Favorite Places </small></a>
    </div>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"><small>Home</small></a>
        </li>
        <li class="nav-item">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <small> Highlights </small>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/speakers">All Highlights</a>
              <div class="dropdown-divider"></div>
              <% allSpeakers.forEach(function(item) { %>
                <a class="dropdown-item" href="/speakers/<%= item.id %>"><%= item.site %></a>
              <% }); %>
            </div>
          </li>
        </li>
        <!-- CREATED THE CATAGORIES SECTION BUT DID NOT POPULATE -->
        <!-- <li class="nav-item">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              <small> Categories </small>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/speakers">All Categories</a>
              <div class="dropdown-divider"></div>
              <% var catTypes = [], i = 0, j = 0, inArray = false; %>
              <% allSpeakers.forEach(function(item) { %>
                <% for(i = 0; i < catTypes.length; i++){%>
                  <% if(item.category === catTypes[i]){ %>
                    <% inArray = true; %>
                  <% } %>
                <% } %>
                <% if(!inArray) {%>
                  <% catTypes[j] = item.category; %>
                  <% j++ %>
                <% } %>
                <% inArray = false;%>
              <% }); %>
              <% for(i = 0; i < catTypes.length; i++){%>
                  <a class="dropdown-item" href="/speakers/<%= catTypes[i]%>"><%= catTypes[i]%></a>
              <% } %>
            </div>
          </li> -->
        </li>
      </ul>
    </div>
  </nav>
</header>
